.App {
  text-align: center;
  background-color: #748786;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ReviewCard{

  border-style: solid;
  width: 50%;
  margin-left: 25%;
  border-color: #514864;
  color: #514864;
  background-color: #E0E0df;
}

#Header{
  color: #514864;
  background-color: #E0E0df;
  border-bottom-color: #514864;
  border-bottom: solid;
  height:100%;
  width:100%;
  margin: 0px;


}

#CommentCard{

  border-style: solid;
  width: 50%;
  margin-left: 25%;
  border-color: #514864;
  color: #514864;
  background-color: #E0E0df;
}

#NoCommentCard{

  border-style: solid;
  width: 50%;
  margin-left: 25%;
  border-color: #514864;
  color: #514864;
  background-color: #E0E0df;
}
img {
  width: 60%;
}

.link-text{
  color: inherit;
  text-decoration: inherit;
}

textarea{
  resize:none;  
}



button {
  background-color: #906387;
  border-radius: 3px;
  padding-top: 10;
  padding-left: 12;  
  padding-right: 12;  
  clear:both;
  width:auto;

}